<!DOCTYPE html>
{*file只是文件名不含路径*}
{config_load file="foo.conf"}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="color: {#color#};">
{*我是smarty注释*}
<h1>{  $title  }</h1>
<h1>{#text#}</h1>
<div>{$content}</div>
<div>{literal}{$content}{/literal}</div>
{*{ldelim}可以单独使用，显示左花括号，同理{rdelim}也可以单独用以显示右花括号，两个的使用都不影响中间{$content}的解析*}
<div>{ldelim}{$content}{rdelim}</div>
{*下面的方法同上*}
<div>{$smarty.ldelim}{$content}{$smarty.rdelim}</div>
<div>{$arr.0},{$arr.1},{$arr.2},{$arr.3}</div>

<div>{$arr[0]},{$arr[1]},{$arr[2]},{$arr[3]}</div>

<div>{$arr2.user}</div>
<div>{$arr2.pwd}</div>
<div>{$arr2.age}</div>
<div>{$arr2['user']}</div>
<div>{$arr2['pwd']}</div>
<div>{$arr2['age']}</div>
<div>{$person->age}</div>
{*能连续执行因为walk()返回了原对象*}
<div>{$person->walk()->eat()}</div>
<div>{$arr[2]+$arr[3]}</div>
<div>{assign var='num' value='3'}</div>
<div>{$arr[$num-1]}</div>
<div>{$foo=$count+1}</div>
<div>{$foo}</div>
<div>{$say="我今年$count岁了"}</div>
<div>{$say}</div>
<div>{$length=strlen($count)}</div>
<div>{$length}</div>
<p>{$smarty.post.page}</p>
<p>{$smarty.session.id}</p>
<p>{$smarty.now}</p>
<p>{date('Y-m-d',$smarty.now)}</p>
<p>{$smarty.const.ROOT}</p>
<p>{$smarty.template}</p>
<p>{$smarty.current_dir}{$smarty.template}</p>
<p>{$smarty.ldelim} , {$smarty.rdelim}</p>
<p>{$smarty.version}</p>
</body>
</html>